<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        *{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        body {
            background-color: #ffffff;
        }
        .cover-container {
            max-width: 42em;
        }
        .text-center {
            text-align: center;
        }
        .d-flex {
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body class="d-flex h-100 text-center text-black">
<div class="cover-container p-3 mx-auto">
    <main class="px-3">
        <h1 class="text-center mb-3">Welcome!</h1>
        <p class="lead text-center mb-3">We're here to find your style. Upload a photo and we'll recommend outfits composed of tops and bottoms in similar hues. Discover the perfect match that complements your color palette!</p>
        <p class="lead text-center">
            <a href="/home/upload" class="btn btn-lg btn-dark fw-bold border-dark bg-dark">Upload Image</a>
        </p>
    </main>
</div>

<footer class="text-black-50 fixed-bottom">
    <div class="container text-center">
        <p>Explore more on <a href="https://github.com/corinB/Opene" class="text-black">GitHub</a> for further details.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
